<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org", lang="jp">
<head>
  <title>削除済み受講生一覧</title>
</head>
<body>
<h1>削除済み受講生一覧</h1>
<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>名前</th>
    <th>ふりがな</th>
    <th>ニックネーム</th>
    <th>メールアドレス</th>
    <th>地域</th>
    <th>年齢</th>
    <th>性別</th>
    <th>備考</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="student : ${deletedStudentList}">
    <td th:text="${student.studentId}">1</td>
    <td th:text="${student.name}">林正人</td>
    <td th:text="${student.nameReading}">はやしまさと</td>
    <td th:text="${student.nickname}">まさー</td>
    <td th:text="${student.mailAddress}">masa1234@ezweb.ne.jp</td>
    <td th:text="${student.city}">愛知県碧南市</td>
    <td th:text="${student.age}">28</td>
    <td th:text="${student.gender}">男</td>
    <td th:text="${student.remark}">特になし</td>
  </tr>
  </tbody>
</table>
<p></p>
<button onclick="location.href='/studentList'">受講生情報一覧へ</button>
<button onclick="location.href='/allStudentCourseList'">全コース情報一覧へ</button>
</body>
</html>